.top{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}
body{
    margin: 0px;
    color: #40514E;
    text-align: center;
    font-family:Verdana, sans-serif ;
}
.skill-row{
    width: 50%;
    margin:100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.profile{
    margin: 100px auto 100px auto;
}
h1{
    color: #66BFBF;
    font-size: 90px;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive
}
h2{
    padding-bottom: 10px;
    color: #66BFBF;
    font-weight: bold;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
}
h3{
    color: #11999E;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.mountain{
    widht;auto;
}
.top-cloud{
    position: absolute;
    top:50px;
    right:300px;
}
.c-img{
    float: left;
    margin-right: 30px;
}
.web-img{
    float: right;
    margin-left: 30px;
}
.middle-container{
    margin: 100px auto 100px auto;
}
hr{
    border: dotted #d4e9e9 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
.bottom-container{
    background-color: #66bfbf;
    padding: 50px 0px 20px;
}
.contact{
    width: 40%;
    margin: 40px auto 60px;
}
.intro{
    width: 30%;
    margin: auto;
}
p{
    line-height: 2;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #119993);
    background-image: -moz-linear-gradient(top, #11cdd4, #119993);
    background-image: -ms-linear-gradient(top, #11cdd4, #119993);
    background-image: -o-linear-gradient(top, #11cdd4, #119993);
    background-image: linear-gradient(to bottom, #11cdd4, #119993);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 4px 5px 0px #666666;
    font-family: Georgia;
    color: #ffffff;
    font-size: 29px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
a{
    color: #11999E;
}
a:hover{
    color: #EAF6F6;
}
.copy-right{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0px;
}

@media(max-width: 1028px){
    /* Top Container*/
    .top{
        width: 100%;
        height: 50%;
        z-index: 1;
        padding-bottom: -10%;
        line-height: 1.2rem;

    }.top-cloud{
        width: 25%;
        top: 10%;
        left: 70%;
    }
    .bottom-cloud{
        width: 25%;
        top: 60%;
        left: 5%;
        z-index: -2;
    }
    .top h1{
        margin-top: 5%;
        padding-top: 0%;
        font-size: 2.5rem;
        z-index: 1;
    }
    .top h2{
        margin-top: 7%;
        font-size: 1.4rem;
    }
    .mountain{
        width: 60%;
        margin: auto;
        top: 80%;
        left: 17%;
        z-index: -1;
    }
    hr{
        width: 15%;
        margin-top: 3%;
        margin-bottom: 5%;
    }
    /*Middle Container*/

    /*Profile*/
    .middle-container{
        padding-top: 0%;
        margin-top: 0;
    }
    .prof-pic{

        margin-top: 0%;
        width: 45%;
    }
    .profile{
        padding-top: 0%;
        width: 100%;

    }
    .profile h2{
        font-size: 2rem;
    }
    .profile p{
        width: 100%;
    }
    /*Skills*/
    .skills{
        padding-bottom: 20%;
    }
    .skill-row{
        text-align: center;
        width: 80%;
        margin: auto;
    }
    .skill-row h3{
        font-size: 1.8rem;
    }
    .skill-row img{
        float: none;
        width: 40%;
        margin: auto;
    }
    /*Contact Me*/
    .contact-me h3{
        font-size: 1.7rem;
    }
    .btn{
        font-size: 1.5rem;
        width: 60%;
        margin-top: 10%;
    }
    /*Copy Right*/
    .bottom-container img{
        width:4%;
    }
    .bottom-container p{
        font-size: 1rem;
    }
}
